.skills {
    text-align: left;
    color: rgba(19, 0, 165, 0.523);
    font-size: 13px;
    padding-top: 5px;


}

.skill {
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: capitalize;
    color: black;
    border-left: solid rgba(19, 0, 165, 0.523) 1px;
    padding-left: 15px;
    padding-top: 3px;

}

.skill b {
    color: rgba(19, 0, 165, 0.523);
    margin-right: 25px;
    width: 120px;
    text-overflow: ellipsis;
}

.skill .list {
    text-align: left;
}

.skill span {
    margin-left: 0px;
}