.cloudLinks {
    font-size: 14px;
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-content: flex-start;
    margin-bottom: 20px;
}

.cloudLinks a {
    font-weight: bold;
    border-bottom: solid 1px;
    margin-bottom: 0px;
}

.cloudLinks p {
    font-size: 12px;
}