#root {
    width: 60%;
    margin-inline: auto;
    margin-top: 3rem;

    padding: 2rem;
    text-align: center;
}

body::-webkit-scrollbar {
    scroll-behavior: smooth;
    background-color: white;
}

h3 {
    color: rgba(19, 0, 165, 0.523);
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    padding-top: 35px;
    border-bottom: 1px solid;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

h3:hover {
    transform: rotateY(180deg);
}

.bgimg {
    position: absolute;
    z-index: -2;
    object-fit: cover;
    height: 100%;
    opacity: 0.1;
    overflow-x: hidden;
}

.cv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.info {
    font-size: .7rem;
    text-align: justify;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 2px;
}

.header {
    text-transform: uppercase;
    font-size: 2rem;
    color: rgba(19, 0, 165, 0.523);
    margin: 5px;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}